name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name : autoreconf
      run : cd newlib | autoreconf -fvi 
    - name: configure
      run: ./configure --target=aarch64-rtems5 --disable-shared --disable-nls --enable-werror --enable-newlib-supplied-syscalls --enable-interwork --enable-multilib --with-gnu-as --with-gnu-ld
    - name: make
      run: make all
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
